<section class="flex flex-col h-full">
  <h1 class="text-6xl m-auto p-10 pt-5">Trade Runners</h1>
  <div class="flex flex-col gap-8 m-auto">
    <button type="button" class="nes-btn bg-white text-3xl" (click)="handleMenuOption('start')">Start</button>
    <button type="button" class="nes-btn bg-white text-3xl" (click)="handleMenuOption('load')">Load</button>
    <button type="button" class="nes-btn bg-white text-3xl" (click)="handleMenuOption('settings')">Settings</button>
  </div>
  <div class="justify-end flex flex-row">
    <p>Version: {{ 1 }}</p>
  </div>
</section>

