<main class="h-full w-full p-10 flex flex-col justify-between">
  <h1 class="mx-auto">Credits</h1>
  <section class="nes-container with-title is-dark flex flex-col">
    <p class="title">Production</p>
    <div>
      Game Design: Guillermo Murúa  (<a href="https://github.com/Sanscripter" target="_blank" class="nes-text is-primary">&#64;Sanscripter</a>)
    </div>
    <div>
      Code: Guillermo Murúa (<a href="https://github.com/Sanscripter" target="_blank" class="nes-text is-primary">&#64;Sanscripter</a>)
    </div>
  </section>
  <section class="nes-container with-title is-dark flex flex-col" >
    <p class="title">Assets</p>
    <div>
      <a href="https://www.publicdomainpictures.net/" target="_blank" class="nes-text is-primary">
        https://www.publicdomainpictures.net/ - Public Domain Pictures
      </a>
    </div>
    <div>
      <a href="https://opengameart.org/" target="_blank" class="nes-text is-primary">
        https://opengameart.org/ - Public Domain Game Art
      </a>
    </div>
    <div>
      <a href="https://giventofly.github.io/pixelit/" target="_blank" class="nes-text is-primary">
        https://giventofly.github.io/pixelit/ - pixelit to modify images to pixel art
      </a>
    </div>
  </section>
  <section class="nes-container with-title is-dark flex flex-col justify-between" >
    <p class="title">Special Thanks</p>
    <div>
      Esther Campos Murúa - for being an amazing wife and right by my side during the development
    </div>
    <div>
      Kaique - for brainstorming mechanics and visual ideas with me during some deep talks
    </div>
    <div>
      FefoNeto - for great UI review and ideas on the map (and being generally disgusting and punchable)
    </div>
  </section>
  <section class="flex">
    <button class="nes-btn is-warning m-auto" (click)="handleBack()">Back</button>
  </section>
</main>
