<main class="flex flex-row w-full h-full">
    <aside class="flex flex-col w-1/4 nes-container is-dark p-2 justify-between">
      <div class="upper-aside-layout flex flex-col">
        <app-agent-stats [stats]="player" [day]="gameService.getCurrentDay()" />
        <app-eventlog class="eventlog-layout" [eventLog]="gameService.eventLog" [day]="gameService.getCurrentDay()" />
      </div>
      <button class="nes-btn is-warning" (click)="toggleInventory()">Inventory</button>
    </aside>
  <section class="flex w-full text-center">
    @if (inventoryOpen) {
    <div class="nes-container is-dark h-full">
      <app-inventory [inventory]="player.inventory" />
    </div>
    }
    <app-interactive-view (travelledTo)="handleTravelling($event)" [cities]="gameService.cities" [player]="gameService.player" />
  </section>
</main>
