<main class="flex flex-row w-full h-full">
  <aside
    class="flex flex-col w-sidebar nes-container is-dark p-2 justify-between z-50 border-solid border border-white"
  >
    <div class="upper-aside-layout flex flex-col">
      <app-agent-stats [stats]="player" [day]="gameService.getCurrentDay()" />
      <app-eventlog
        class="eventlog-layout"
        [eventLog]="gameService.eventLog"
        [day]="gameService.getCurrentDay()"
      />
    </div>
    <button class="nes-btn is-warning" (click)="toggleInventory()">
      Inventory
    </button>
  </aside>

  @if (inventoryOpen) {
  <div class="nes-container is-dark h-full absolute top-0 left-sidebar z-50">
    <app-inventory [inventory]="player.inventory" />
  </div>
  }

  <!-- Seção do mapa -->
  <section class="flex-grow h-full text-center">
    <app-location-info-card
      class="location-info-card"
      #appInfoCard
      [location]="locationHovered"
      [player]="player"
    ></app-location-info-card>

    <app-interactive-view
      class="w-full h-full"
      (mouseOverCity)="renderLocationInfoCard($event)"
      (fastTravelTo)="handleFastTravelTo($event)"
      (enterLocation)="handleEnterLocation($event)"
      [cities]="gameService.cities"
      [player]="gameService.player"
    ></app-interactive-view>
  </section>
</main>


<dialog #fastTravelConfirmation class="nes-dialog is-dark is-rounded" id="fast-travel-confirmation">
  <form method="dialog">
    <p class="title">Confirm fast travel</p>
    <p>Fast travel to {{this.fastTravelTo?.name}}?</p>
    <div>
      <p>Cost:</p>
      <p>(theoretical costs...)</p>
    </div>
    <menu class="dialog-menu">
      <button class="nes-btn">Cancel</button>
      <button class="nes-btn is-primary" (click)="handleFastTravelConfirm()">Confirm</button>
    </menu>
  </form>
</dialog>