<main class="flex flex-col h-full justify-between m-auto p-10 w-full">
  <section>
    <h1 class="text-4xl p-5 text-center">Game Over</h1>
    <div class="p-5">
      @if (ending === endings.DIED) {
      <p>DIED</p>
      }
      @else if (ending === endings.PAID) {
      <p>PAID</p>
      }
      @else if (ending === endings.RICH) {
      <p>RICH</p>
      }
      @else if (ending === endings.INSOLVENT) {
      <p>Days go by and before you realize the sun sets on the 30th day. You know you are short and you consider
        running,
        leaving Happy Valley, taking a chance somewhere else. Unfortunately, by the time you settled on a plan and hit
        the
        road with what you have, a van followed by 12 motrocylcles finds and ambushes you. No words are exchanged - none
        are needed. You resign to your fate and let them put you on the back of the van. The last thing you see in life
        is
        the start-sprangled night sky through the van's window, upside-down, 2-inches away from the rest of your bruised
        body.</p>
      }
    </div>
  </section>
  <section class="nes-container with-title is-dark w-full">
    <p class="title">Stats</p>
    <app-agent-stats [stats]="player" [day]="gameService.getCurrentDay()"></app-agent-stats>
  </section>
  <section class="flex flex-row w-full">
    <button class="nes-btn is-danger m-auto" (click)="handleExit()">Exit</button>
  </section>
</main>
