<main class="flex flex-col h-full justify-between m-auto p-10 w-full">
  <section>
    <h1 class="text-4xl p-5 text-center">Game Over</h1>
    <div class="p-5">
      @if (ending === endings.DIED) {
      <p>You rest your face on the sand and feel every limb of your body go numb, one by one, from the extremities
        inwards. You close your eyes and swallow in a vain attempt to hydrate your throat, as though you prepared to
        state your case to a higher power to let you live. You present eloquently how much you still have to achieve,
        what other lives you will impact, the justice you will bring and how you will honor your father's legacy. But,
        alas, your silent inner-monologue falls on deaf ears and you feel the mantle of darkness cover you whole with,
        putting a surprisingly tender end to a rough and unforgiving life.</p>
      }
      @else if (ending === endings.PAID) {
      <p>As the 30th day gives in to the night, you return to the place where you first buried your father. Thirteen
        lights rip through the night, getting closer. You count your money and ready an envelope. The riders stop around
        the station but leave their engines running, except for one who hops off his motorbike and walks towards you. No
        words, he just stands his hand in your general direction and you give him the money. He opens up. He counts.
        Everything is there - but it's also everything you've got. "You did good, kid.", he says, "Take it it easy for a
        few days and we'll call you with your next assignment". That takes you by surprise - your original understanding
        was that after the debt was paid you'd be free to go your own way. "We are going to have a prosperous future
        together", the man continues, raising his hand again expecting you to shake it, "what do you say?". You consider
        spitting on it or turning away or at the very least saying "No" but you quicly look around: they came in numbers
        and are all well armed. You are in no position to refuse, because of the implication. You shake hands, they
        leave setting dust off in the air. You sit on the ground, near your father's grave and spend the night awake
        looking at the horizon. That line, that perimiter where the sky clashed with the edge of Happy Valley, that line
        became the fence around the rest of your life. You watch the sun rise but it feels indistinguishable from a cell now. </p>
      }
      @else if (ending === endings.RICH) {
      <p>RICH</p>
      }
      @else if (ending === endings.INSOLVENT) {
      <p>Days go by and before you realize the sun sets on the 30th day. You know you are short and you consider
        running,
        leaving Happy Valley, taking a chance somewhere else. Unfortunately, by the time you settled on a plan and hit
        the
        road with what you have, a van followed by 12 motrocylcles finds and ambushes you. No words are exchanged - none
        are needed. You resign to your fate and let them put you on the back of the van. The last thing you see in life
        is
        the start-sprangled night sky through the van's window, upside-down, 2-inches away from the rest of your bruised
        body.</p>
      }
    </div>
  </section>
  <section class="nes-container with-title is-dark w-full">
    <p class="title">Stats</p>
    <app-agent-stats [stats]="player" [day]="gameService.getCurrentDay()"></app-agent-stats>
  </section>
  <section class="flex flex-row w-full">
    <button class="nes-btn is-danger m-auto" (click)="handleExit()">Exit</button>
  </section>
</main>
