<div class="w-full" style="font-size: x-small;">
  <p>Inventory:</p>
  <div class="nes-table-responsiven">
    <form [formGroup]="inventoryForm!">
      <table formArrayName="items" class="nes-table is-dark">
        <thead>
          <tr>
            <th>Item Name</th>
            <th>Cost</th>
            <th>Qty.</th>
          </tr>
        </thead>
        <tbody *ngFor="let itemForm of items.controls; let i = index">
          <tr [formGroup]="itemForm">
            <td>{{itemForm.value.name!}}</td>
            <td class="whitespace-nowrap text-right">{{itemForm.value.cost | currency:'USD'}}</td>
            <td class="text-right whitespace-nowrap flex justify-end content-center items-center">

              @if (displayHandlers) {
              <app-item-amount-input (change)="changedAmount($event,i)" [currentMax]="itemForm.value.currentMax!" class="w-full"
                formControlName="quantity"></app-item-amount-input>
              } @else {
              <p>{{itemForm.value.quantity!}}</p>
              }


            </td>
          </tr>
        </tbody>
      </table>
    </form>

  </div>
</div>
