<main class="h-full">
  <!-- <p class="bg-black z-10 text-center w-full">{{location.name}}</p> -->
  <div class="flex flex-row w-full h-full justify-between">
    <img class="w-full h-full z-0 absolute" src="assets/bg_valley2.png" style="transform:scaleX(-1);" alt="">
    <aside class="flex flex-col w-1/4 h-5/6 nes-container is-dark p-2 !my-auto">
      <app-agent-stats [stats]="gameService.player!" [day]="gameService.getCurrentDay()" />
      <app-inventory [inventory]="gameService.player.inventory" (change)="handlePlayerSell($event)" mode="agent"
        class="pt-10" />
    </aside>
    <section class="flex w-full h-full text-center">
      <div class=" w-full">
        <div class="flex flex-col h-full justify-between">
          <div class="dialog flex flex-row p-1 justify-end nes-container is-dark !bg-black">
            <div class="text-left p-10">
              <p>~We licked the eyes of God. What have you achieved?~</p>
            </div>
            <img class="trader-icon" src="assets/nukespx2.png">

          </div>
          <div class="nes-container !bg-black">
            {{playerSells | json}}
          </div>
          <div class="nes-container !bg-black">
            {{traderSells | json}}
          </div>
          <div class="mx-auto mb-12 w-1/2 pb-0 flex flex-row flex-wrap">
            <button type="button" (click)="handleTrade()" class="nes-btn bg-blue-500 text-3xl m-auto mb-3">Trade</button>
            <button type="button" class="nes-btn bg-white text-3xl m-auto mb-3">Speak</button>
            <button type="button" class="nes-btn bg-red-500 text-3xl m-auto mt-3">Steal</button>
            <button type="button" class="nes-btn bg-yellow-300 text-3xl m-auto mt-3"
              (click)="handleGoBack()">Leave</button>
          </div>
        </div>
      </div>

    </section>
    <aside class="flex flex-col w-1/4 h-5/6 nes-container is-dark p-2 !my-auto">
      <app-agent-stats [stats]="trader" />
      <app-inventory [inventory]="trader!.inventory!" (change)="handleTraderSell($event)" mode="agent"
        class="pt-10" />
    </aside>
  </div>
</main>
