<main class="h-full">
  <!-- <p class="bg-black z-10 text-center w-full">{{location.name}}</p> -->
  <div class="flex flex-row w-full h-full justify-between">
    <img class="w-full h-full z-0 absolute" [src]="trader?.background" style="transform:scaleX(-1);" alt="">
    <aside class="flex flex-col w-1/4 nes-container is-dark p-2 !mb-auto">
      <app-agent-stats [stats]="gameService.player!" [day]="gameService.getCurrentDay()" />
      @if (tradeMode) {
      <app-inventory [inventory]="playerInventory" (change)="handlePlayerSell($event)" mode="agent" class="pt-10" />
      }
    </aside>
    <section class="flex w-full h-full text-center">
      <div class=" w-full">
        <div class="flex flex-col h-full justify-between">
          <div class="dialog flex flex-row p-1 justify-end nes-container is-dark !bg-black">
            <div class="text-left p-10">
              <p>{{trader?.barks?.[0] || "you..."}}</p>
            </div>
            <img class="trader-icon" [src]="trader?.traderMugshot">

          </div>

          <div *ngIf="tradeMode" class="nes-container !bg-black is-dark flex flex-row justify-between !mb-auto">
            <div class="flex flex-col w-1/3">
              <p class="text-white">You offer</p>
              <div class="flex flex-row">
                <div class="text-left">
                  <div *ngFor="let item of playerSells.items">
                    <p class="text-lg">{{item.name}} x{{item.quantity}}</p>
                    <p class="text-xs">{{item.description}}</p>
                    <hr class="w-full">
                  </div>
                </div>
              </div>
              <p class="text-xl">{{playerSells.totalValue | currency: 'USD'}}</p>
            </div>

            <div class="left-1/2 -ml-0.5 w-0.5 h-full  bg-white"></div>

            <div class="flex flex-col w-1/3">
              <p class="text-white">Trader's offer</p>
              <div class="flex flex-row justify-end">
                <div class="text-right">
                  <div *ngFor="let item of traderSells.items">
                    <p class="text-lg">{{item.name}} x{{item.quantity}}</p>
                    <p class="text-xs">{{item.description}}</p>
                    <hr class="w-full">
                  </div>
                </div>
              </div>
              <p class="text-xl">{{traderSells.totalValue | currency: 'USD'}}</p>
            </div>
          </div>

          <div class="mx-auto mb-12 w-1/2 pb-0 flex flex-row flex-wrap">
            <button type="button" (click)="tradeMode ? handleTrade() : startTrade()"
              class="nes-btn bg-blue-500 text-3xl m-auto mb-3">Trade</button>
            <button type="button" class="nes-btn bg-white text-3xl m-auto mb-3">Speak</button>
            <button type="button" class="nes-btn bg-red-500 text-3xl m-auto mt-3">Steal</button>
            <button type="button" class="nes-btn bg-yellow-300 text-3xl m-auto mt-3"
              (click)="handleGoBack()">Leave</button>
          </div>
        </div>
      </div>

    </section>
    <aside class="flex flex-col w-1/4 nes-container is-dark p-2 !mb-auto">
      <app-agent-stats [stats]="trader" />
      @if (tradeMode) {
      <app-inventory [inventory]="traderInventory" (change)="handleTraderSell($event)" mode="agent" class="pt-10" />
      }
    </aside>
  </div>
</main>
