<div class="flex flex-col relative justify-between w-full h-full scroll-pt-5">
  <p>Events:</p>
  <div class="flex flex-col relative overflow-y-scroll max-h-52 pt-2">
    <span class="nes-text is-primary">City such and such is buying Item 3</span>
    <span class="nes-text is-primary">City such and such is buying Item 3</span>
    <span class="nes-text is-success">City is bustling with money</span>
    <span class="nes-text is-success">City is bustling with money</span>
    <span class="nes-text is-success">City is bustling with money</span>
    <span class="nes-text is-warning">A drought is affecting city such and such</span>
    <span class="nes-text is-warning">A drought is affecting city such and such</span>
    <span class="nes-text is-error">City is starving</span>
  </div>
</div>
