@if (!triggerWarningConsent) {
<main class="flex flex-col mt-20 p-10">
  <div class="nes-container is-dark with-title">
    <p class="title">Warning</p>
    <p class="!mb-10">
      Mature content ahead.
    </p>
    <!-- <p class="!mb-10"> This game contains <span class="nes-text is-error">strong language</span>, <span
        class="nes-text is-warning">mild violence</span>, and <span class="nes-text is-success">drug use</span>. It also
      contains mentions of <span class="nes-text is-primary">torture</span>, <span class="nes-text is-primary">
        psychological distress</span>, and <span class="nes-text is-primary">suicide</span>. This content may be
      disturbing or triggering to some individuals.
      This game is a fictional work of art (arguably) and should not be a substitute for proper education or real-world
      understanding. The characters, events, and ideas portrayed in this game are purely fictional and do not reflect
      real-world beliefs or actions. Please approach the content with critical thinking and discretion. It is important
      to remember that this is a game meant for entertainment and debate purposes only, and any replication of the ideas
      or actions of characters within the game is strongly discouraged. Use your judgment responsibly.
      Please do not play this game if you are under 18 years old, or if you are currently experiencing psychological
      distress, depression, or suicidal thoughts. This game contains mild-political commentary.
      Again, player discretion is advised.
    </p> -->
    <div class="flex flex-row justify-between m-auto w-1/2">
      <button type="button" class="nes-btn m-auto is-error text-2xl" (click)="handleWarningConsent()">I'm 18 and over and I understand.</button>
      <button type="button" class="nes-btn m-auto bg-white text-2xl" (click)="handleWarningDenial()">I'm not 18 or I don't understand</button>
    </div>
  </div>
</main>
} @else {
<main class="flex flex-col gap-5 h-full">
  <h2 class="text-2xl p-3">In the distant future of 2004, </h2>
  @if (currentSlide === 0) {
  <p class="text-sm leading-10 indent-8 p-10 pt-0 w-full m-auto mb-2 pb-0"> 30 years after the escalation of <span
      class="nes-text is-error">global conflict</span> wiped
    <span class="nes-text is-error">86% of man-kind</span>, people of the world - what's left of them - have abandoned
    the underground shelters they have called home for so long. The surface is now a barren wasteland
    with limited natural resources that are contested by
    new factions, forged in the fires of a new world. Amidst the conflict, a new class emerged, out of the need to
    transport essential goods in the now lawless plains that separate
    the few remanning human settlements - the <span class="nes-text is-success">Trade Runners</span>. These brave men
    and
    women risk their lifes the Dead Zones looking for opportunities to make a <span
      class="nes-text is-warning">substantial profit</span>
    trading food, medicine, tools and more.
  </p>
  }
  @if (currentSlide === 1) {
  <p class="text-sm leading-10 indent-8 p-10 pt-0 w-full m-auto mb-2 pb-0">Your father was one such Runner. He drove
    both of you to
    <span class="nes-text is-warning">Happy Valley</span>, a valley surrounded by mountains,
    home to a group of rapidly <span class="nes-text is-success">expanding settlements</span> and many, many
    opportunities. He got a loan from a local gang, <span class="nes-text is-error">Los
      Treze</span>, to start your new life, but something happened. He lost
    a shipment in a raid and was unable to make his payments. One day, coming back to camp from ressuply, you find your
    dad on the ground, <span class="nes-text is-error">decapitated</span> . His head is impaled at the
    entrance of your tent. His teeth are cleched on a piece of paper. You remove and unwrap it. It's note from the
    killers <span class="nes-text is-error">"100 grand. In 30 days. Or you're next"</span>. You hold a simple funeral,
    pack up
    your things and start looking for the first settlement to trade with...
  </p>
  }
  @if (currentSlide === 2) {
  <div class="pl-10 mb-2 w-1/2 m-auto">
    <label for="name">What's your <span class="nes-text is-warning">name</span>?</label>
    <form [formGroup]="nameForm">
      <input type="text" id="name" formControlName="playerName" class="nes-input is-dark" placeholder="eg. Mario Mario">
    </form>
  </div>
  <button type="button" class="nes-btn m-auto mt-20 mb-0 bg-white text-4xl" (click)="handleGameStart()">Begin</button>
  }
  <div class="flex flex-row justify-between m-auto w-1/2">
    @if (currentSlide !== 0) {
    <button type="button" class="nes-btn m-auto is-warning text-2xl" (click)="handlePrevious()">Back</button>
    }
    @if (currentSlide !== 2) {
    <button type="button" class="nes-btn m-auto bg-white text-2xl" (click)="handleNext()">Next</button>
    }
  </div>

</main>
}
