/* You can add global styles to this file, and also import other style files */
// tailwind
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
// nescss
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
}

//canvas
canvas {
  height: 100%;
  width: 100%;
  // TODO: Revise cursor
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=), auto !important;
}

.canvas-container {
  height: 100% !important;
  width: 100% !important;
}

//scrollbar
/* Hide scrollbar by default */
::-webkit-scrollbar {
  display: none;
}

/* Show scrollbar on hover */
::-webkit-scrollbar {
  display: block;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar {
  transition: width 0.3s, height 0.3s;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(248, 239, 239, 0.2); /* Change color */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(225, 209, 209, 0.2);
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
